[submodule "tree-sitter"]
	path = tree-sitter
	url = https://github.com/tree-sitter/tree-sitter
[submodule "tree-sitter-cpp"]
	path = tree-sitter-cpp
	url = https://github.com/tree-sitter/tree-sitter-cpp
[submodule "uart16550"]
	path = examples/uart16550
	url = https://github.com/freecores/uart16550
[submodule "cxxopts"]
	path = cxxopts
	url = https://github.com/jarro2783/cxxopts
