[submodule "submodules/tree-sitter"]
	path = submodules/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter
[submodule "submodules/tree-sitter-cpp"]
	path = submodules/tree-sitter-cpp
	url = https://github.com/tree-sitter/tree-sitter-cpp
[submodule "submodules/CLI11"]
	path = submodules/CLI11
	url = https://github.com/CLIUtils/CLI11
[submodule "submodules/SDL"]
	path = submodules/SDL
	url = https://github.com/libsdl-org/SDL
