* {
  font-family: "Consolas";
  font-size: 14px;
  color: #CCC;
}

html {
  background-color: #222;
}

body {
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;

  background-color: #222;
}

div {
  margin: 0px;
}

.border {
  border: solid #222 1px;
  padding: 4px;
}

.editor {
  margin: 0px;
  padding: 0px;
  overflow: auto;
  white-space: pre-wrap;
}

.center_y {
  display:flex;
  align-items: center;
}

#title {
  font-size: 20px;
  padding: 15px;
  color: #CBD;
}

.github_link {
  font-size: 18px;
  margin-left:30px;
  margin-right:30px;
}

#intro {
  display:flex;
  align-items: center;
  font-size: 13px;
}

.flex_x { display: flex; flex-direction: row;    gap: 4px; }
.flex_y { display: flex; flex-direction: column; gap: 0px; }

.flex_0 { flex-basis: auto; flex-grow: 0; background-color: #333; }
.flex_1 { flex-basis: 0;    flex-grow: 1; background-color: #333; }
.flex_2 { flex-basis: 0;    flex-grow: 2; background-color: #333; }
.flex_3 { flex-basis: 0;    flex-grow: 3; background-color: #333; }
.flex_4 { flex-basis: 0;    flex-grow: 4; background-color: #333; }

#panels { background-color: #222; }
