* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

body {
  margin: 1%;
  padding: 0;
  height: 98%;
  width: 98%;

  font-size: 13px;
  font-family: 'Roboto Mono', monospace;
  color: #CCC;
  background-color: #222;
}

.container {
  display: grid;
  height: 90vh;
  grid-template-columns: 2fr 3fr 2fr;
  grid-column-gap: 1%;
}

#src {
  font-family: 'Roboto Mono', monospace;
  background-color: #333;
  border: solid black 2px;
  padding: 3px;
}

#log {
  background-color: #333;
  border: solid black 2px;
  padding: 3px;
}

#dst {
  font-family: 'Roboto Mono', monospace;
  background-color: #333;
  border: solid black 2px;
  padding: 3px;
}
