<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.lockedInPlace</key>
	<false/>
	<key>CollectionSelections</key>
	<dict>
		<key>2655DDF6-4AB8-42CB-A433-1CD76FC351D2</key>
		<array>
			<string>C59506A8-043D-4295-A8C1-0F27DB2C5215</string>
		</array>
	</dict>
	<key>CommentsScaleFactor</key>
	<real>1</real>
	<key>CommentsUseTextScale</key>
	<true/>
	<key>CompileFolder</key>
	<string>/Users/amberv/outbox</string>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>QRPanelSettings</key>
	<dict>
		<key>B915C13D-C3B5-4152-98E3-59C8F83FBF02</key>
		<dict>
			<key>BinderUUID</key>
			<string>B915C13D-C3B5-4152-98E3-59C8F83FBF02</string>
			<key>CurrentMetaData</key>
			<integer>5</integer>
			<key>MainPaneWidth</key>
			<real>475</real>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<true/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 0}, {475, 304.5}}</string>
				<string>{{0, 305.5}, {475, 108.5}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textScaleFactor</key>
				<real>1</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>741 469 475 522 0 0 1920 1178 </string>
		</dict>
	</dict>
	<key>QuickRefFloatBehavior</key>
	<integer>3</integer>
	<key>SuppressBookmarksFolderCheck</key>
	<false/>
	<key>UnhoistedBinderState</key>
	<array>
		<string>7A583553-3A84-40D6-B9B9-0430B8CD3E39</string>
		<string>6C3BDCCC-F6C3-4AF9-B7CD-475616712EAE</string>
		<string>96776348-B035-46DA-A5A5-210E99B93774</string>
		<string>0778B444-3F1F-4924-83BA-B2AB7028AC3E</string>
		<string>254840B2-918A-4980-9B4D-C9B3A774FB9A</string>
		<string>07B0D7C6-57CE-4D6F-8AD9-11F06A261A5F</string>
		<string>B0417A1B-D617-4CBD-900A-14A6AB12C289</string>
		<string>6B6E864E-D14F-4EF7-8C5F-1D489706989A</string>
		<string>BB89721F-361D-4DC6-B9DC-70E2BE85968E</string>
		<string>A41BA2A1-C599-43C2-99CC-8C1A7FFC2C24</string>
	</array>
	<key>annotationColor</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdCXE5TQ29sb3JTcGFjZVYkY2xhc3NPECcw
	LjIxNTY4NjI3NjYgMC42NzA1ODgyNTQ5IDAuOTQ5MDE5NjEwOQAQAYAC0hAREhNaJGNs
	YXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNLZXllZEFyY2hp
	dmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KMjpCVoKmxtL3P0tcAAAAAAAABAQAAAAAA
	AAAZAAAAAAAAAAAAAAAAAAAA2Q==
	</data>
	<key>binderSelection</key>
	<array>
		<integer>0</integer>
	</array>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {223, 1155}}</string>
		<string>{{224, 0}, {1276, 1155}}</string>
	</array>
	<key>binderState</key>
	<array>
		<string>7A583553-3A84-40D6-B9B9-0430B8CD3E39</string>
		<string>6C3BDCCC-F6C3-4AF9-B7CD-475616712EAE</string>
		<string>96776348-B035-46DA-A5A5-210E99B93774</string>
		<string>0778B444-3F1F-4924-83BA-B2AB7028AC3E</string>
		<string>07B0D7C6-57CE-4D6F-8AD9-11F06A261A5F</string>
		<string>B0417A1B-D617-4CBD-900A-14A6AB12C289</string>
		<string>6B6E864E-D14F-4EF7-8C5F-1D489706989A</string>
		<string>A41BA2A1-C599-43C2-99CC-8C1A7FFC2C24</string>
	</array>
	<key>bookmarksPreviewTextSettings</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>isRulerVisible</key>
		<false/>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>showsLineNumbers</key>
		<false/>
		<key>textFocusMode</key>
		<integer>0</integer>
		<key>textScaleFactor</key>
		<real>1</real>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<false/>
	</dict>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>16680347-8947-42BD-9B4C-05783B38F4B4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>19454B2C-2696-408E-8B82-B78117357709</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3E751865-BAB0-4010-B69D-0045A1717350</key>
		<dict>
			<key>DocID</key>
			<string>FD64525A-22FB-4EDD-BBD0-372BE8E7BFED</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>42320032-9DE3-402B-83F0-1F535E0909A0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>49717CEC-EC24-487B-905D-DD9F3EFE9D83</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4C1B1D47-4B3A-43AE-B914-1155AD5E84A6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>56407EA7-C110-49D9-9DE0-DB12C632FB0B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>606E2F6A-318D-44EA-A9BC-81093A72CD2F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6C3BDCCC-F6C3-4AF9-B7CD-475616712EAE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6CF94156-BE6C-4B3C-9C8C-315DD66AB418</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6DB94070-AC78-4330-8878-A40C412A7535</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6EF336BE-794D-414D-B7C2-4AE1BD92AFB9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>73C0BBB7-555C-4DC8-8F32-60BDDA3BE15A</key>
		<dict>
			<key>DocID</key>
			<string>C363C175-FF49-44A7-B4D4-26254B6FDDCB</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>76D96A54-CBE2-4594-93F1-77ADECAE798D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>79E6787C-DB7F-4818-93CD-E035FDD80C9F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7F36E1E8-5268-41DE-B900-5541DA073025</key>
		<dict>
			<key>DocID</key>
			<string>9FFBA333-8432-41C1-91F5-1302DFE283CA</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>855791A2-92CE-4069-81EE-ECB577C17D63</key>
		<dict>
			<key>DocID</key>
			<string>49717CEC-EC24-487B-905D-DD9F3EFE9D83</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>8B9CB403-6803-4D56-A50A-DF509E6D51E1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8DDDF593-7D99-4FBB-83FA-B095E6D5E072</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>96776348-B035-46DA-A5A5-210E99B93774</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9FFBA333-8432-41C1-91F5-1302DFE283CA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B8855899-B5E1-41B4-B155-C4850A606B7F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B9925518-0726-42A7-8701-ECCF95ADE919</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BD3621B3-14AE-4E5B-A084-ABEE963F57CC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C363C175-FF49-44A7-B4D4-26254B6FDDCB</key>
		<dict>
			<key>DocID</key>
			<string>73C0BBB7-555C-4DC8-8F32-60BDDA3BE15A</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>CC93B15A-785B-417A-A7D5-27E9912DBBC3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D2CF9B80-9FA0-4746-9A82-508A32070B93</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F1C174F9-60B0-4EA2-BFF4-A3E9297419DD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FD64525A-22FB-4EDD-BBD0-372BE8E7BFED</key>
		<dict>
			<key>DocID</key>
			<string>3E751865-BAB0-4010-B69D-0045A1717350</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>Project</key>
		<dict>
			<key>DocID</key>
			<string>BB89721F-361D-4DC6-B9DC-70E2BE85968E</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>closedSuccessfully</key>
	<true/>
	<key>collectionSelectionAutosaveName</key>
	<array>
		<integer>1</integer>
	</array>
	<key>collectionsHeight</key>
	<real>118</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsSplitFrames</key>
	<array>
		<string>{{0, 0}, {223, 118}}</string>
		<string>{{0, 119}, {223, 1011}}</string>
	</array>
	<key>collectionsTabListIsCollapsed</key>
	<true/>
	<key>continuousSpellChecking</key>
	<true/>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {761.5, 563}}</string>
	</array>
	<key>editorSplitType</key>
	<integer>0</integer>
	<key>fullScreenHorizontalPaperPosition</key>
	<integer>2</integer>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>fullScreenVerticalPaperPosition</key>
	<integer>2</integer>
	<key>grammarSpellChecking</key>
	<false/>
	<key>inspectorCustomPaneIsCollapsed</key>
	<true/>
	<key>inspectorIsCollapsed</key>
	<false/>
	<key>inspectorNotesMode</key>
	<integer>0</integer>
	<key>inspectorSelectedDataTab</key>
	<integer>0</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {1021.5, 1125}}</string>
		<string>{{1022.5, 0}, {253.5, 1125}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>253.5</real>
	<key>lastDocumentSplitType</key>
	<integer>0</integer>
	<key>mainDocumentEditor.binderDocuments</key>
	<array>
		<string>9FFBA333-8432-41C1-91F5-1302DFE283CA</string>
	</array>
	<key>mainDocumentEditor.corkboardVisible</key>
	<false/>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>0</integer>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>mainDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
	</array>
	<key>mainDocumentEditor.navHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>-1</integer>
		<key>NavigationHistoryArray</key>
		<array/>
	</dict>
	<key>mainDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>label</key>
		<real>85</real>
		<key>sectionType</key>
		<real>100</real>
		<key>status</key>
		<real>85</real>
		<key>title</key>
		<real>275</real>
	</dict>
	<key>mainDocumentEditor.outlinerVisible</key>
	<false/>
	<key>mainDocumentEditor.rulerIsVisible</key>
	<false/>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {590, 294}}</string>
	<key>mainDocumentEditor.selectedRanges</key>
	<string>{0, 0}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.textMode</key>
	<integer>0</integer>
	<key>mainWindowFrame</key>
	<string>194 0 1500 1177 0 0 1920 1177 </string>
	<key>projectStatsSheet</key>
	<dict>
		<key>excludeAnnots</key>
		<true/>
		<key>excludeFN</key>
		<false/>
		<key>includeSubdocs</key>
		<false/>
		<key>limitLinesPerPage</key>
		<true/>
		<key>lineCountingFont</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQB
		aRiEBVsyNGNdBgAAABAAAAD//kMAbwB1AHIAaQBlAHIAhAFmDIQBYwCYAZgA
		mACG
		</data>
		<key>maxLinesPerPage</key>
		<integer>50</integer>
		<key>options</key>
		<integer>0</integer>
		<key>wordsPerPaperbackPage</key>
		<integer>350</integer>
	</dict>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
		</array>
		<key>widths</key>
		<dict>
			<key>TITLE</key>
			<real>221</real>
		</dict>
	</dict>
	<key>selectedCollectionTabIndex</key>
	<integer>0</integer>
	<key>showInvisibles</key>
	<false/>
	<key>smartDashes</key>
	<true/>
	<key>smartQuotes</key>
	<true/>
	<key>supportingDocumentEditor.PDFAutoScales</key>
	<false/>
	<key>supportingDocumentEditor.binderDocuments</key>
	<array/>
	<key>supportingDocumentEditor.currentEditorViewMode</key>
	<integer>2</integer>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>supportingDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
	</array>
	<key>supportingDocumentEditor.navHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>-1</integer>
		<key>NavigationHistoryArray</key>
		<array/>
	</dict>
	<key>supportingDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>includeInExport</key>
		<real>54.5</real>
		<key>label</key>
		<real>85</real>
		<key>sectionType</key>
		<real>100</real>
		<key>status</key>
		<real>85</real>
		<key>title</key>
		<real>275</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {590, 1069}}</string>
	<key>supportingDocumentEditor.selectedItemIDs</key>
	<array/>
	<key>supportingDocumentEditor.selectedItemUUIDs</key>
	<array/>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.textMode</key>
	<integer>0</integer>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
