* {
  font-family: "Roboto Mono";
  font-size: 14px;
  color: #CCC;
}

body {
  background-color: #444;
  margin-left:100px;
  margin-right:100px;
}

p {
  text-indent: 30px;
}

.topbar {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content:space-between;
}

.topbar_title {
  display:flex;
  align-items: center;
  flex-basis:auto;
  font-size: 20px;
  color: #CBF;
  margin:8px;
}

.topbar_spacer {
  display:flex;
  align-items: center;
  flex-basis:250px;
}

.contents {
  padding: 12px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #222;
}

.divider {
  margin:10px;
  padding:10px;
  background-color: #333333;
  border: solid #1C1C1C 1px;
}

.live_code {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.source_panel {
  flex-basis: 0;
  flex-grow: 1;
}

.header_bar {
  border: solid #1C1C1C 1px;
  background-color: #333333;
  padding: 8px;
}

.filename {
  font-weight: 600;
}
